/* Import Tailwind CSS layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
@layer base {
  :root {
    --primary-color: #2d9cdb; /* Soft Blue */
    --secondary-color: #50e3c2; /* Minty Green */
    --accent-color: #f5a623; /* Warm Orange */
    --text-color: #333333; /* Black */
    --background-color: #f7f8fa; /* Light Background */
    --shadow-color: #1e1e1e80; /* Grey Shadow */
    --info-color: #2d9cdb; /* Info Blue */
    --success-color: #27ae60; /* Success Green */
    --warning-color: #f2994a; /* Warning Orange */
    --error-color: #eb5757; /* Error Red */
  }

  html {
    scroll-behavior: smooth;
  }

  /* Body styling */
  body {
    @apply bg-background font-roboto text-body-regular text-text;
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }

  /* Headings - Apply Lato font and bold weight */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-lato font-bold;
  }

  /* Additional font size application */
  h1 {
    @apply text-h1;
  }
  h2 {
    @apply text-h2;
  }
  h3 {
    @apply text-h3;
  }
  h4 {
    @apply text-h4;
  }
  h5 {
    @apply text-h5;
  }
  h6 {
    @apply text-h6;
  }

  /* Body Text - Roboto Font */
  p,
  span {
    @apply text-body-regular font-roboto;
  }

  p {
    @apply pt-4;
  }

  /* List Styles */
  ul,
  ol {
    @apply list-disc pl-5;
  }

  /* Links */

  a {
    @apply text-body-regular text-info font-roboto;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  /* Full-width Button */
  .full-width-button {
    width: 100%;
  }

  /* Form Elements */
  input,
  textarea,
  select {
    margin: 0;
    padding: 0;
  }

  /* Custom Scrollbar styling */
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: var(--background-color);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--shadow-color);
    border-radius: 12px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--shadow-color);
  }

  /* Input Styling */
  input[type="text"],
  input[type="email"],
  input[type="date"],
  textarea,
  select {
    @apply border border-gray-300 rounded-md p-2 w-full font-roboto text-text;
    transition: border-color 0.2s ease;
    height: 55px;
    border-radius: 4px;
    border-width: 2px;
  }

  /* Focus and Validation States */
  input:focus,
  textarea:focus,
  select:focus {
    @apply border-primary;
    border-color: var(--primary-color);
  }

  input:disabled,
  textarea:disabled,
  select:disabled {
    @apply bg-gray-100 cursor-not-allowed;
  }

  input:invalid,
  textarea:invalid,
  select:invalid {
    @apply border-error;
    border-color: var(--error-color);
  }

  /* Button Styling for Consistency */
  button {
    @apply font-lato font-bold rounded-lg transition duration-200 focus:outline-none px-btn-x py-btn-y;
  }

  /* Specific Variants for Button */
  button.primary {
    @apply bg-primary text-background hover:bg-background hover:text-primary border border-primary;
  }

  button.accent {
    @apply bg-accent text-background hover:bg-background hover:text-accent border border-accent;
  }

  /* Checkbox and Radio Button Styling */
  input[type="checkbox"],
  input[type="radio"] {
    @apply text-primary focus:ring-primary;
  }
}
